<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9CG13fVlDaOHRRdWjG49G8yZ51UKZaMg</string>
	<key>GCM_SENDER_ID</key>
	<string>615415147244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tas.Esmvstore</string>
	<key>PROJECT_ID</key>
	<string>semiotic-abbey-368114</string>
	<key>STORAGE_BUCKET</key>
	<string>semiotic-abbey-368114.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615415147244:ios:87175be04b4a4d636f13c9</string>
</dict>
</plist>